.cnFootbb {
  .cnbbYoga {
     display: block;
     text-align: center;
     margin:0 auto;
  }
  ul {
    li {
      display:block;
      h2 {
        text-align: center;
        font-family: 'star_jediregular';
        font-size: 40px;
        color: $sw-primary;
      }
      }
      p{
        font-size: 11px;
      }
    }
    p{
      font-size: 11px;
    }
}