.cnFootbb {
  .cnbbYoga {
     display: block;
     text-align: center;
     margin:0 auto;
  }
  ul {
    li {
      display:block;
      h2 {
        text-align: center;
        font-family: 'star_jediregular';
        font-size: 40px;
        color: $sw-primary;
      }
      }
      p{
        font-size: 11px;
      }
    }
    p{
      font-size: 11px;
    }
}


#hologram {
  position: fixed;
  bottom: 50px;
  right: 30px;
  width: 200px;
  height: 200px;
  background-image: url(https://wohomedia.b-cdn.net/lewagon/jabbasouk/hologram.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  background-blend-mode: hard-light;
  border-radius: 50%;
  display: none;
  animation: glitch 1.5s ease-in-out infinite;
}

@keyframes glitch {
  0% {
    clip: rect(0, 200px, 200px, 0);
  }
  5% {
    clip: rect(0, 200px, 50px, 0);
  }
  10% {
    clip: rect(150px, 200px, 200px, 0);
  }
  15% {
    clip: rect(0, 200px, 200px, 0);
  }
}