// Specific CSS for your home-page


.devise-c-form {
  background-color: #ffffff;
  padding: 50px;
  width: 500px;
  margin:auto;
  border-radius: 20px;
  box-shadow: 10px 10px 35px -24px rgba(0,0,0,0.35);
  -webkit-box-shadow: 10px 10px 35px -24px rgba(0,0,0,0.35);
  -moz-box-shadow: 10px 10px 35px -24px rgba(0,0,0,0.35);
  color: #000;
}

.hero-home
{
  margin-top: 50px;
  
}

.home-container{
  margin: auto;
  background-color: #fff;
  padding: 50px 0 50px 0;
  border-radius: 20px;
}

.card {
  border-radius: 20px !important;
  box-shadow: 10px 10px 35px -24px rgba(0,0,0,0.35);
  -webkit-box-shadow: 10px 10px 35px -24px rgba(0,0,0,0.35);
  -moz-box-shadow: 10px 10px 35px -24px rgba(0,0,0,0.35);
}