// Main configuration CSS styles for all page

body {
  background-image: url(https://wohomedia.b-cdn.net/lewagon/jabbasouk/bg-stars.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;

}

.main-container
{
  width: 1200px;
  margin: auto;
}

.main-devise-container
{
  width: 1200px;
  margin: auto;
  margin-top: 5%;
}

h1 {
  font-family: 'star_jediregular';
  font-size: 55px;
  color: rgb(255, 213, 78);
}

h2 {
  font-family: 'star_jediregular';
  font-size: 48px;
  font-weight: 600;
  color: rgb(255, 213, 78);
}

h3 {
  font-family: 'star_jediregular';
  font-size: 30px;
  font-weight: 600;
  color: rgb(255, 213, 78);
}

h4 {
  font-family: 'star_jediregular';
  font-size: 25px;
  font-weight: 600;
  color: rgb(255, 213, 78);
}

h5 {
  font-family: "orbitron", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 213, 78);
}


h6 {
  font-family: 'star_jediregular';
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 213, 78);
}

p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
}

hr {
  background-color: rgb(255, 214, 78);
  height: 5px;
  opacity: 1 !important;
}

.linkover:hover {
  color: rgb(255, 214, 78);
  text-decoration: underline;
}