// Main configuration CSS styles for all page

body {
  background-image: url(https://wohomedia.b-cdn.net/lewagon/jabbasouk/bg-stars.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.main-container
{
  width: 1200px;
  margin: auto;
}

.main-devise-container
{
  width: 1200px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

h1 {
  font-family: 'star_jediregular';
  font-size: 69px;
  color: rgb(255, 213, 78);
}

h2 {
  font-family: 'star_jediregular';
  font-size: 48px;
  font-weight: 600;
  color: rgb(255, 213, 78);
}

h3 {
  font-family: 'star_jediregular';
  font-size: 30px;
  font-weight: 600;
  color: rgb(255, 213, 78);
}

h4 {
  font-family: 'star_jediregular';
  font-size: 25px;
  font-weight: 600;
  color: rgb(255, 213, 78);
}

h5 {
  font-family: 'star_jediregular';
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 213, 78);
}

h6 {
  font-family: 'star_jediregular';
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 213, 78);
}

p {
  font-size: 18px;
  color: #ffffff;
}

hr {
  background-color: rgb(255, 213, 78);
  height: 1px;
}