<div class="main-devise-container">
  <div class="d-flex justify-content-between align-content-*-center ">
    <div class="col mb-1">
      <div class="devise-c-form" style="text-align:center;">

       <h3>Your order has been delivered</h3>
        <br>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_bl3mhw8t.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px; margin:auto;"  loop  autoplay></lottie-player> 
        <br>
        <p> Our state-of-the-art teleportation device successfully delivered your </p><h4> <%= @booking.product.title %> </h4>
        <p> Please rate your product below </p>
        <br>
      </div>
    </div>
  
</div>
