<div class="row">
        <div class="col">
            <footer class="text-center bg-dark">
                <div class="container text-white py-4 py-lg-5">
                    <ul class="list-inline">
                        <li class="list-inline-item me-4"><a class="link-light" href="#">Galaxies Map</a></li>
                        <li class="list-inline-item me-4"><a class="link-light" href="#">Hyper Space Module</a></li>
                        <li class="list-inline-item"><a class="link-light" href="#">Lightsabers</a></li>
                    </ul>
                    <p class="text-muted mb-0">Copyright © 2023 JabbaSouk</p>
                </div>
            </footer>
        </div>
    </div>