<div class="row">
        <div class="col">
            <footer class="text-center cnFootbb">
                <div class="container text-white py-4 py-lg-5">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> 

<lottie-player class="cnbbYoga" src="https://lottie.host/e089e9d0-02e9-4045-99a0-2b7f6c7ba897/spUuAaY1sG.json" background="transparent" speed="1" style="width: 150px; height: 150px;" loop autoplay></lottie-player>
                    <ul class="list-inline">
                        <li class=""><h2>The End</h2></li>
                        <li class=""><p><i class="fa-sharp fa-solid fa-space-station-moon-construction"></i> Death Star Corp</p></li>
                        <li class=""><p>Built by <a href="https://github.com/neildus" target="_blank">Neil</a>, 
                        <a href="https://github.com/Azharol" target="_blank">Azhar</a> 
                        and <a href="https://github.com/xaviercoiffic" target="_blank">Xavier</a> this website was. <br>Smaller in number are we, but larger in mind.</i></p></li>
                    </ul>
                    <p class="text-muted mb-0">Copyright © 2023 JabbaSouk</p>
                </div>
            </footer>
        </div>
    </div>