<div class="main-container">
 <div class="hero-home">
        <div class="home-container h-100">
            <div class="row h-100">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div>
                        <h2 class="text-uppercase fw-bold mb-3">Biben dum<br>fringi dictum, augue purus</h2>
                        <p class="mb-4">Etiam a rutrum, mauris lectus aptent convallis. Fusce vulputate aliquam, sagittis odio metus. Nulla porttitor vivamus viverra laoreet, aliquam netus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;margin-bottom: 50px;margin-right: 15px;margin-left: 15px;">
        <div class="col" style="padding: 20px;">
            <div class="card" style="padding: 30px;">
                <div class="card-body"><i class="far fa-star"></i>
                    <p>4</p>
                    <h4 class="card-title">Product title</h4>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <p><img>Rs 4000</p><button class="btn btn-primary" type="button">Button</button>
                </div>
            </div>
        </div>
        <div class="col" style="padding: 20px;">
        
        <div class="card" style="padding: 30px;">
                <div class="card-body"><i class="far fa-star"></i>
                    <p>4</p>
                    <h4 class="card-title">Product title</h4>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <p><img>Rs 4000</p><button class="btn btn-primary" type="button">Button</button>
                </div>
            </div>
        
        
        </div>
        <div class="col"style="padding: 20px;">

        <div class="card" style="padding: 30px;">
                <div class="card-body"><i class="far fa-star"></i>
                    <p>4</p>
                    <h4 class="card-title">Product title</h4>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <p><img>Rs 4000</p><button class="btn btn-primary" type="button">Button</button>
                </div>
            </div>
        
        </div>
     </div>

 <div class="row" style="margin-top: 50px;margin-bottom: 50px;margin-right: 15px;margin-left: 15px;">
        <div class="col" style="padding: 20px;">
            <div class="card" style="padding: 30px;">
                <div class="card-body"><i class="far fa-star"></i>
                    <p>4</p>
                    <h4 class="card-title">Product title</h4>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <p><img>Rs 4000</p><button class="btn btn-primary" type="button">Button</button>
                </div>
            </div>
        </div>
        <div class="col" style="padding: 20px;">
        
        <div class="card" style="padding: 30px;">
                <div class="card-body"><i class="far fa-star"></i>
                    <p>4</p>
                    <h4 class="card-title">Product title</h4>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <p><img>Rs 4000</p><button class="btn btn-primary" type="button">Button</button>
                </div>
            </div>
        
        
        </div>
        <div class="col"style="padding: 20px;">

        <div class="card" style="padding: 30px;">
                <div class="card-body"><i class="far fa-star"></i>
                    <p>4</p>
                    <h4 class="card-title">Product title</h4>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <p><img>Rs 4000</p><button class="btn btn-primary" type="button">Button</button>
                </div>
            </div>
        
        </div>
     </div>
     
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
