<div class="col m-auto mt-5" style="text-align:center;">
<h3> Thank you! Come again soon </h3> <br>
<br><br>
<img src="https://media.tenor.com/9840vTzIBeUAAAAi/star-wars-smile.gif"> 
<br><br><br><br>
<button class="button">
<%= link_to "Back to home", "/" %>
</button>
&nbsp;&nbsp;
<button class="button">
<%= link_to "View your orders", "/bookings" %>
</button>

</div>