@font-face {
  font-family: 'star_jediregular';
  src: url('https://wohomedia.b-cdn.net/lewagon/jabbasouk/fonts/starjedi-webfont.woff2') format('woff2'),
       url('https://wohomedia.b-cdn.net/lewagon/jabbasouk/fonts/starjedi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');