.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-brand:hover {
  background-color: rgba(240, 248, 255, 0);
}
