<div class="page-title">
<h1> JabbaSouk </h1>
<div class="blink_me">**OPENING SOON**</div>
<br>
<p> Hello Stranger! Neil, Azhar, Tigist, and Xavier, our four padawans, <br>
are hard at work building the souk marketplace. </p> 

<p> Check this space at a later time </p>
<br>
<h2> ⭐️ May the force be with you! ✨</h2>

</div>